


<div id="content" class="subpage">

<div class="stack stack-section-title" style="
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 40px;

">
<div class="container">
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>Реквизиты организации.</h1>
<p>Контакты:</p>
<p>Фактический адрес: 354340 Г Сочи, ул Просвещения 85Б</p>
<p>Электронная почта: golden_ring_2017@mail.ru</p>
<p>Телефоны: +7 967 2031295 +7 918 400 70 26</p>
<p>Реквизиты:</p>
<p>ИП Панечко Ирина Валерьевна</p>
<p>ИНН 616206176682 / ОГРНИП 316502400051848,</p>
<p>Юридический адрес: 143401, г. Красногорск , б-р Павшинский 1 кв 338</p>
<p>Тел./факс: +7 967 2031295,</p>

<h1 class="main-title">Описание процесса оплаты банковскими картами ПАО &laquo;Сбербанк России&raquo;</h1>
<div id="page-breadcrumb">&nbsp;</div>
</div>
</div>
<div id="stack-25114-0" class="stack stack-page-content" style="
    padding-left: 20px;
    padding-right: 20px;
">
<div class="container">
<div class="row">
<div class="span12">
<p><strong>1. Описание процесса платежа</strong><br />Оплата происходит через авторизационный сервер Процессингового центра Банка с использованием Банковских кредитных карт следующих платежных систем:</p>
<p>&nbsp;</p>
<p><img class=" wp-image-32842 alignleft" src="https://golden-ring.ru.com/media/Visa-icon.png" width="100" />&nbsp;<strong>VISA International</strong></p>
<p><img class=" wp-image-32843 alignleft" src="https://golden-ring.ru.com/media/Master-Card-icon.png" width="100" /></p>
<p><strong>MasterCard World Wide</strong></p>
<p><img class=" wp-image-32844 alignleft" src="https://golden-ring.ru.com/media/Mir-icon.png" width="100"/></p>
<p><strong>Платежная система МИР</strong></p>
<p>&nbsp;</p>
<p><strong>2. Передача данных</strong><br />Для оплаты покупки Вы будете перенаправлены на платежный шлюз ПАО &laquo;Сбербанк России&raquo; для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.<br />В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.<br />Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО &laquo;Сбербанк России&raquo;. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.</p>
<p><strong>3. Процесс оплаты</strong><br />Для Вашего удобства предлагаем оплатить бронирование с помощью банковской карты прямо на нашем сайте.</p>
<p><strong>Для оплаты картой необходимо:</strong></p>
<p>Для оплаты картой необходимо:<br />Выбрать номер на сайте в разделе &laquo;<a href="https://golden-ring.ru.com/rooms.html">Номера</a>&raquo;. Далее, необходимо вернуться на&nbsp;&laquo;<a href="https://golden-ring.ru.com/indexpages.html">Главную страницу</a>&raquo; и справа, в виджете модуля бронирования выбрать дату презда и отъезда. Выбрать понравившийся вам номер. Выбрать колическтво гостей. И нажать кнопку "ЗАБРОНИРОВАТЬ".</p>
<p>Далее. Набрать свою имя и фамилию в соответствующих графах. Нажать "ПРОДОЛЖИТЬ", и в следующем окне набрать свой адрес email и номер телефона.</p>
<p>На Вашу почту придет поисьмо с подтверждением бронирования, где Вы увидите №Заказа. Запомните его.</p>
<p>На главной странице нажмите кнопку "ПОКУПКА ОНЛАЙН" и введите в норвом окне защищеной платёжной системы, свои платёжные данные и сведения для обратной связи. <br />ОБЯЗАТЕЛЬНО(!) <span style="color: #ff0000;"><strong>наберите трёхзначный номер заказа </strong></span>в нижнем поле.</p>
<p>Далее нажмите "ОПЛАТИТЬ".<br />К Вам на почту придёт чек с указанной суммой, и номером заказа. Пожалуйста проверьте внимательно корректность своих данных.</p>
<p><strong>Платежная система не передает нам данные Вашей карты!</strong></p>
<p>Оплата производится в рублях.<br />При оплате заказа вводятся следующие реквизиты банковской карты:<br />&mdash; Номер и срок действия карты.<br />&mdash; Трехзначный код (CVV2 или CVC2).</p>
<p>Обратите внимание! К оплате принимаются карты Visa, Visa Electron, Master Card и Maestro. За разъяснениями об особенностях оплаты по Вашей банковской карте или причинах отказа в оплате Вам необходимо в первую очередь обратиться в службу поддержки Вашего банка.</p>
<p>При успешной оплате, вы получите кассовый чек в своём электронном почтовом ящике.</p>
<p><strong>4. Возврат оплаты в случае отказа клиентом от товара/услуги.</strong><br />Возврат средств инициируется личным обращением на e-mail:&nbsp;<a href="http://fin01@goodtimetravel.ru/" target="_blank" rel="noopener">Golden_ring_2017@mail.ru</a>&nbsp;или по телефонам:</p>
<p>+7 (918) 400-70-26<br />и<br />+7 (967) 203-12-95</p>
<p>. Сумма к возврату рассчитывается исходя из полной суммы оплаты за вычетом реально понесенных затрат по аннулированному заказу.<br />Возврат средств производится на карту, по которой был осуществлён платёж, в течение 1 &ndash; 3 дней после получения оригинала заявления.</p>
</div>
</div>
</div>
</div>

      
      
  </div>  <!-- END .specials -->    
